<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>Démo React + EJS</title>
</head>

<body>
  <div id="react-root" data-props='<%- JSON.stringify({ name }) %>'></div>
  <script type="module" src="/dist/index.js"></script>
</body>

</html>