<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Démo React + EJS - Slow</title>
</head>

<body>
    <h1>Du contenu rendu via le template EJS directement</h1>
    <div id="slow-root" data-component="Slow"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti unde tempore cum impedit aspernatur, fuga ex dignissimos ratione. Ipsum hic, odit excepturi cum quia itaque perferendis earum facilis. Maiores, delectus?</p>
    <script type="module" src="/dist/slow-index.js"></script>
</body>

</html>